parameters:
    level: 8
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - config/paths.php
    paths:
        - src
    excludePaths:
        - src/Console/Installer.php
        - src/Controller/PagesController.php
